*
{
    box-sizing: border-box;
}
:root
{
    --main-color:#10cab7;
    --section-padding:60px;
    --secondary-color:#2c4755;
}

.parent
{
    background-color: #eee;

}
.container
{
  
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    
   /* background-color: #aaa;*/
}

@media (min-width:768px) {
    .container
    {
        width: 750px;
    }
    
}



@media (min-width:992px) {
    .container
    {
        width: 970px;
    }
    
}


@media (min-width:1200px) {
    .container
    {
        width: 1170px;
    }
    
}

.special-heading
{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    margin: 0;
}

.special-heading + p 
{
    margin:-30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

@media (max-width:767px)
{
    .special-heading
    {
        font-size: 60px;
    }

    .special-heading + p
    {
        margin-top: -20px;
    }
}

/*Start Header*/
.header
{
  padding: 20px;
}
.header .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo
{
    width: 60px;
}
.header .links
{
    position: relative;
}

.header .links:hover .icon span:nth-child(2)
{
    width: 100%;
}

.header .links .icon
{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span
{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}

.header .links .icon span:first-child{
    width: 100%;
}

.header .links .icon span:nth-child(2)
{
    width: 60%;
}

.header .links .icon span:last-child
{
    width: 100%;
}
.header .links ul{

    margin: 0;
    list-style: none;
    padding: 0;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    background-color: #f6f6f6;
    display: none;
}







.header .links ul::before
{
    content: "";
    border-width: 10px;
  
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links:hover ul
{
    display: block;
    z-index: 5;
}

.header .links ul li a 
{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    /*transition: 0.3s;*/
}

.header .links ul li a:hover{
    padding-left: 25px;
}

.header .links ul li:not(last-child) a 
{
    border-bottom: 1px solid #ddd;
}

/*End Header*/

/* Start Landing */
 .landing
 {
     background-image:url(https://elzerowebschool.github.io/HTML_And_CSS_Template_One/images/landing.jpg);
     background-size: cover;
     height: calc(100vh - 64px);
     position: relative;
 }

 .landing .intro-text
 {
     position: absolute;
     left: 50%;
     top: 50%;
     text-align: center;
     transform: translate(-50% , -50%);
    
     width: 320px;
     max-width: 100%;
 }

 .landing .intro-text h1
 {
     margin: 0;
     font-weight: bold;
     font-size: 50px;
     color: var(--main-color);
 }

 .landing .intro-text p
 {
     font-size: 19px;
     line-height: 1.8;
 }
/*End Landing */

/*Start Features*/

.features
{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F6F6F6
}
.features .container
{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 20px;
}
.features .features{
    padding: 20px;
    text-align: center;
}

.features .feat i 
{
    color: var(--main-color);
}
.features .feat h3
{
    font-weight: 800;
    margin: 30px 0;
}

.features .feat p
{
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
/*end Features*/

/* Start Services*/
 .services
 {
     padding-top: 60px;
     padding-bottom: 60px;
 }

 .srv 
 {
     display: flex;
     margin-bottom: 40px;
 }

 .services-content
 {
     display: grid;
     grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
     grid-gap: 30px;
     margin-top: 100px;
 }


 @media (max-width:767px)
 {
     .srv
     {
         flex-direction: column;
         text-align: center;
     }
 }

 .srv i 
 {
     color: var(--main-color);
     flex-basis: 60px;
 }

 .srv .text
 {
     flex:1;
 }
 .srv .text h3
 {
     margin: 0 0 20px;
 }

 .srv .text p 
 {
     color: #444;
     font-weight: 300;
     line-height: 1.6;
 }

 .image
 {
     text-align: center;
     position: relative;
 }

 .image img
 {
     width: 260px;
 }

 .image::before
 {
   content: "";
   position: absolute;
   background-color: #2c4755;
   width: 100px;
   height: calc(100% + 100px);
   top:-50px;
   right: 0;
   z-index: -1;
 }

 @media (max-width:1199px)
 {
    .img-column
    {
       display: none;
    }
 }

/* End Services*/

/* Start Portfolio*/
 .portfolio
 {
     padding-top: var(--section-padding);
     padding-bottom: var(--section-padding);
     background-color: #f6f6f6;
 }

 .portfolio .portfolio-content
 { 
     display: grid;
     grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
     grid-gap:30px;
     margin-top: 80px;

 }

 .card{
     background-color: white;
 }
 .card img
 {
     max-width: 100%;
 }

 .card .info
 {
     padding: 20px;
 }
 .card .info h3
 {
     margin: 0;
 }

 .card .info p 
 {
     color:#777;
     line-height: 1.6;
     margin-bottom: 0;
 }
/* ENd Portfolio*/


/*Start about*/
.about
{
    padding-top: var(--section-padding);
    padding-bottom:calc(var(--section-padding) + 60px);
}

.about-content
{
    margin-top:100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width:991px)
{
    .about-content
    {
           flex-direction: column;
           text-align: center;
    }
}

.about .image
{
    position: relative;
    width: 250px;
    height:375px
}
@media (max-width:991px)
{
    .about .image
    {
        margin: 0 auto 60px;
    }
}
.about .image::before
{
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 80px);
    top:-40px;
    left: -20px;
    z-index: -1;
    background-color: #ebeced;
}

.about .image::after
{
content: "";
top:-40px;
position: absolute;
width: 120px;
height: 300px;
border-left: 80px solid var(--main-color);
border-bottom: 80px solid var(--main-color);
z-index: -1;
right: -150px;
}

@media (max-width:991px)
{
    .about .image::before,.about .image::after
    {
        display: none;
    }
}
.about .image img
{
    max-width: 100%;
}

.about .text
{
    flex-basis: calc(100% - 500px);
}
.about .text hr 
{
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}

.about .text p:first-of-type
{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
/*ENd about*/

/*Start Contact*/

.contact
{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var();
}
.contact .info
{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.label
{
    font-size: 30px;
    font-weight: 800;
    color:var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .link
{
    display: block;
    font-size: 30px;
    font-weight: 800;
    color:var(--main-color);
    text-decoration: none;
}

.social
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.social i 
{
    margin-left: 10px;
    color: var(--secondary-color);
}
@media (max-width:767px)
{
    .contact .link,.label
    {
        font-size: 20px;
    }
}

/*End Contact*/

/*Start Footer*/
.footer
{
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}

.footer span
{
    font-weight: bold;
    color:var(--main-color);
}
/*ENd Footer*/